
body{
    background-color: rgb(241, 246, 250);
    padding: -10px -10px;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(252, 250, 248);
    -webkit-box-shadow: 0px 9px 9px -6px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 9px 9px -6px rgba(0,0,0,0.44);
    box-shadow: 0px 9px 9px -6px rgba(0,0,0,0.44);
    margin:-8px;
    padding: 5px 10px;
    transition: 0.5s;

}
.divi{
    flex: 1;
}
nav li{
    margin:0 10px;
}
.icons li{
    margin:0 10px;
    color: rgb(106, 196, 255);
}
ul{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    letter-spacing: 2px;
}
button{
    display: none;
}

.icons i{
    color: rgb(38, 167, 231);
}

@media (max-width:760px){
    header{
        transition: all 0.5s;
        flex-direction: column;
    }
    .clear{
        display: none;
    }
    .divi button{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5em;
        transition:0.1s ease-in;
    }
    .divi button:hover{
        transform: rotate(90deg);
        color: rgb(38, 167, 231);
        font-size: 2em;
    }
    .logo{
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        padding:0px;
    }
    nav ul li{
        padding: 10px;
        margin-left:0px;
        transition: 0.5s;
        cursor: pointer;
    }
    a{
        width: 100%;
    }
    nav ul li:hover{
        background-color: rgb(38, 167, 231);
    }

}